*
!.gitignore
!*.go
!*.html
!*.tpl
!*.txt
!*.js
!*.jpg
!*.png
!*.ico
!*.cmd
!*.sh
!*.css
!*.dart
!*.yaml
!*.json
!*.obj
!*.mtl
!docs
!negentropia
!negentropia/lib
!negentropia/texture
!sample
!sample/pixel_framebuffer
!sample/pixel_framebuffer/web
!sample/triangle
!sample/skybox
!sample/skybox/web
!sample/mouse_wheel
!sample/mouse_wheel/web
!sample/mouse_wheel2
!sample/mouse_wheel2/web
!sample/mouse_wheel_js
!sample/fullscreen
!sample/fullscreen/web
!template
!webserv
!webserv/src
!webserv/src/negentropia/samples
!webserv/src/negentropia/webserv
!webserv/src/negentropia/webserv/handler
!webserv/src/negentropia/webserv/session
!webserv/src/negentropia/webserv/store
!webserv/src/negentropia/webserv/cfg
!webserv/src/negentropia/webserv/configflag
!webserv/src/negentropia/webserv/share
!webserv/src/negentropia/webserv/util
!webserv/src/negentropia/world
!webserv/src/negentropia/world/server
!webserv/src/negentropia/world/obj
!webserv/src/negentropia/world/parser
!webserv/src/negentropia/world/util
!wwwroot
!wwwroot/dart
!wwwroot/dart/cookies
!wwwroot/dart/test
!wwwroot/dart/benchmark
!wwwroot/hello
!wwwroot/js
!wwwroot/js/lib
!wwwroot/shader
!wwwroot/mesh
!wwwroot/texture
!wwwroot/texture/skybox_*
!wwwroot/obj
!wwwroot/mtl
!wwwroot/skybox