*
!.gitignore
!*.go
!*.html
!*.tpl
!*.txt
!*.js
!*.jpg
!*.png
!*.ico
!*.cmd
!*.sh
!*.css
!*.dart
!*.yaml
!negentropia
!negentropia/lib
!negentropia/texture
!template
!webserv
!webserv/src
!webserv/src/negentropia/samples
!webserv/src/negentropia/webserv
!webserv/src/negentropia/webserv/handler
!webserv/src/negentropia/webserv/session
!webserv/src/negentropia/webserv/store
!webserv/src/negentropia/webserv/cfg
!webserv/src/negentropia/webserv/configflag
!webserv/src/negentropia/webserv/share
!webserv/src/negentropia/webserv/util
!webserv/src/negentropia/world
!wwwroot
!wwwroot/dart
!wwwroot/dart/cookies
!wwwroot/hello
!wwwroot/js
!wwwroot/js/lib
