*
!.gitignore
!*.go
!*.html
!*.tpl
!*.txt
!*.js
!*.jpg
!*.png
!*.ico
!*.cmd
!negentropia
!negentropia/lib
!negentropia/texture
!template
!webserv
!webserv/src
!webserv/src/negentropia/webserv
!webserv/src/negentropia/webserv/handler
!webserv/src/negentropia/webserv/session
!webserv/src/negentropia/webserv/store
!wwwroot
!wwwroot/hello
