
#account { background-color: lightgreen; }
#footer { text-align: center; color: darkgreen; }

body { font-size: 100%; font-family: Verdana, Arial, sansserif; }
input { font-size: 1em; font-family: Arial, Helvetica, serif; }

.bar { text-align: center; margin: 0 auto; }
.menu { background-color: lightgray; }

.emailInput { width: 250px; }
.failmsg { color: red; }
.donemsg { color: blue; }

.centerbox {
text-align: center;
border-radius: 15px;
width: 500px;
padding: 5px;
border: 3px solid gray;
margin: 0 auto;
}

#ws_status { text-align: center; color: purple; }

#canvasbox { width: 100%; text-align: center; margin: 0 auto; }

#main_canvas { border: 2px solid black; width: 780px; height: 500px; }

#toggle { text-align: center; margin: 7px; }
